.nav-container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.links{
    display: flex;
}
.nav-link{
    text-decoration: none;
    margin-right: 20px;
    padding: 0px 10px;
    font-weight: 600;
    color: rgb(132, 132, 229);
    border: 2px solid rgb(9, 9, 251);
    border-radius: 40px;
}
.nav-link:hover{
    color: rgb(4, 4, 104);
    border: 2px solid rgb(3, 3, 146);
}

@media screen and (max-width: 780px) {
  .nav-container{
      display: block;
  }
  .nav-link{
      margin-right: 1px;
  }
}